.ControllerHolder {
    position: fixed;
    top : 10vh;
    left : 0;
    box-sizing: border-box;

    background-color  : "white";
}

.SideBar {
    padding: 2%;
    width : 25%;
    text-align : left;
    height: 90vh;
    overflow-y: scroll;
}

.FullWidth {
    position: relative;
    text-align : center;
    width  : 100%;
    padding: 2.5% 2.5% 5% 2.5%;
    margin-bottom: 10vh;
    border-bottom: 2px solid black;
}